Repository ISIS3510-Team14/Swift, pull requests merged in 2024-11, with the labels that each got.

#53 Add "Login Instructions" link and modal view to LoginView
  SustainU.xcodeproj/project.pbxproj
  SustainU/Views/LoginInstructionsView.swift
  SustainU/Views/LoginView.swift
Labels: enhancement, swift, develop

#60 Feature/login-local-storage #45
  SustainU.xcodeproj/project.pbxproj
  SustainU/Models/ProfileModel.swift
  SustainU/Services/ConnectivityManager.swift
  SustainU/Services/KeychainService.swift
  SustainU/Viewmodels/LoginViewModel.swift
  SustainU/Views/ContentView.swift
  SustainU/Views/HomeView.swift
  SustainU/Views/LoginInstructionsView.swift
  SustainU/Views/LoginView.swift
  SustainU/Views/ProfileView.swift
Labels: swift

#62 Develop
  SustainU.xcodeproj/project.pbxproj
  SustainU.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  SustainU/Models/ProfileModel.swift
  SustainU/Services/ConnectivityManager.swift
  SustainU/Services/KeychainService.swift
  SustainU/Services/NetworkMonitor.swift
  SustainU/Viewmodels/LoginViewModel.swift
  SustainU/Views/ContentView.swift
  SustainU/Views/HomeView.swift
  SustainU/Views/LoginInstructionsView.swift
  SustainU/Views/LoginView.swift
  SustainU/Views/ProfileView.swift
Labels: develop

#58 Bug fixed
  SustainU.xcodeproj/project.pbxproj
  SustainU/Viewmodels/CameraViewmodel.swift
Labels: bug

#64 Feature/connection status indicator top bar #61 into login feature
  SustainU/Services/ConnectivityManager.swift
  SustainU/Views/CameraView.swift
  SustainU/Views/ExpandableSearchView.swift
  SustainU/Views/HomeView.swift
  SustainU/Views/TopBarView.swift
Labels: enhancement, swift, develop, login feature, EC

#65 Feature/login ec storage #45.1
  SustainU/Services/ConnectivityManager.swift
  SustainU/Views/CameraView.swift
  SustainU/Views/ExpandableSearchView.swift
  SustainU/Views/HomeView.swift
  SustainU/Views/TopBarView.swift
Labels: swift, develop, login feature, EC

#67 connectivity popup done
  .DS_Store
  SustainU.xcodeproj/project.pbxproj
  SustainU/Services/ConnectivityManager.swift
  SustainU/Services/NetworkMonitor.swift
  SustainU/Viewmodels/CameraViewmodel.swift
  SustainU/Views/CameraView.swift
  SustainU/Views/ConnectivityCameraPopupView.swift
  SustainU/Views/HomeView.swift
Labels: develop

#69 Enhacement/login feature #27
  SustainU/Services/ConnectivityManager.swift
  SustainU/Views/CameraView.swift
  SustainU/Views/ExpandableSearchView.swift
  SustainU/Views/HomeView.swift
  SustainU/Views/TopBarView.swift
Labels: enhancement, swift, develop, login feature, EC

#71 Recycle View
  SustainU.xcodeproj/project.pbxproj
  SustainU/Resources/Assets.xcassets/blue_trash_can.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/blue_trash_can.imageset/blue.svg
  SustainU/Resources/Assets.xcassets/cloudConnected.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/cloudConnected.imageset/wi-fi-icon.png
  SustainU/Resources/Assets.xcassets/cloudDisconnected.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/cloudDisconnected.imageset/no-wifi.png
  SustainU/Resources/Assets.xcassets/glass_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/glass_icon.imageset/Group 33.svg
  SustainU/Resources/Assets.xcassets/gray_trash_can.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/gray_trash_can.imageset/gray_trash_can.svg
  SustainU/Resources/Assets.xcassets/metal_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/metal_icon.imageset/Group-2.svg
  SustainU/Resources/Assets.xcassets/paper_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/paper_icon.imageset/Group.svg
  SustainU/Resources/Assets.xcassets/plastic_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/plastic_icon.imageset/Vector.svg
  SustainU/Views/HomeView.swift
  SustainU/Views/RecycleCardView.swift
  SustainU/Views/RecycleDetailView.swift
  SustainU/Views/RecycleView.swift
  SustainU/Views/TopBarView.swift
Labels: feature, swift

#77 Develop
  .DS_Store
  SustainU.xcodeproj/project.pbxproj
  SustainU.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  SustainU/Info.plist
  SustainU/Models/ProfileModel.swift
  SustainU/Preview Content/Preview Assets.xcassets/Assets/AppIcon.appiconset/Contents.json
  SustainU/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  SustainU/Resources/Assets.xcassets/blue_trash_can.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/blue_trash_can.imageset/blue.svg
  SustainU/Resources/Assets.xcassets/cloudConnected.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/cloudConnected.imageset/wi-fi-icon.png
  SustainU/Resources/Assets.xcassets/cloudDisconnected.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/cloudDisconnected.imageset/no-wifi.png
  SustainU/Resources/Assets.xcassets/glass_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/glass_icon.imageset/Group 33.svg
  SustainU/Resources/Assets.xcassets/gray_trash_can.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/gray_trash_can.imageset/gray_trash_can.svg
  SustainU/Resources/Assets.xcassets/metal_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/metal_icon.imageset/Group-2.svg
  SustainU/Resources/Assets.xcassets/paper_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/paper_icon.imageset/Group.svg
  SustainU/Resources/Assets.xcassets/plastic_icon.imageset/Contents.json
  SustainU/Resources/Assets.xcassets/plastic_icon.imageset/Vector.svg
  SustainU/Services/AppleMapCacheManager.swift
  SustainU/Services/ConnectivityManager.swift
  SustainU/Services/KeychainService.swift
  SustainU/Services/NetworkMonitor.swift
  SustainU/Services/OfflineMapManager.swift
  SustainU/SustainUApp.swift
  SustainU/Viewmodels/CameraViewmodel.swift
  SustainU/Viewmodels/CollectionPointViewModel.swift
  SustainU/Viewmodels/LoginViewModel.swift
  SustainU/Viewmodels/MapViewModel.swift
  SustainU/Views/CameraView.swift
  SustainU/Views/CollectionPointDetailView.swift
  SustainU/Views/ConnectivityCameraPopupView.swift
  SustainU/Views/ConnectivityPopupView.swift
  SustainU/Views/ContentView.swift
  SustainU/Views/DELETEME.swift
  SustainU/Views/ExpandableSearchView.swift
  SustainU/Views/HomeView.swift
  SustainU/Views/LoginInstructionsView.swift
  SustainU/Views/LoginView.swift
  SustainU/Views/MapView.swift
  SustainU/Views/OfflineMapPopupView.swift
  SustainU/Views/ProfileView.swift
  SustainU/Views/RecycleCardView.swift
  SustainU/Views/RecycleDetailView.swift
  SustainU/Views/RecycleView.swift
  SustainU/Views/SavedImagesView.swift
  SustainU/Views/TopBarView.swift
Labels: develop
